#app{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.slider{
    width: 900px;
    height: 600px;
    object-fit: cover;
    border-radius: 5px;
    position: relative;
}
.prev, .next {
    font-size: 2.5rem;
    padding: 20px;
}
.images{
    position: relative;
    display: flex;
    justify-content:center ;
}
nav{
    position: absolute;
    bottom: 10%;
    background-color: rgba(0, 0, 0, 0.712);
    border-radius: 40px;
    padding: 10px;
}
nav i{
    padding: 10px;
    font-size: 25px;
    color: white;
}
.active{
    color: blue;
}