#app{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.slider{
    width: 900px;
    height: 600px;
    object-fit: cover;
    border-radius: 5px;
    position: relative;
}

.prev, .next {
    font-size: 2.5rem;
    padding: 20px;
}

#buttons{
    position: absolute;
    bottom: 15%;
    width: 250px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.795);
    border-radius: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.button{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
}
.red{
    background-color: red;
}

.blue{
    background-color: blue;
}